<?php
 //p($article);die;
?>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/html">
    <title>博客文章发布</title>
</head>
<body>
<div>
    <li><a href="http://ci.dev/admin/article/send_article">发表文章</a></li>
    <li><a href="<?= site_url('admin/article/index')?>">查看文章</a></li>
    <li><a href="http://ci.dev/admin/category/add_cate">添加栏目</a></li>
    <li><a href="http://ci.dev/admin/category/index">查看栏目</a></li>
</div>
<hr>
<form action="<?= site_url('admin/article/edit/'.$article['aid']) ?>" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td colspan="10">编辑文章</td>
        </tr>
        <tr>
            <td>标题</td>
            <td><input type="text" name="title" value="<?= $article['title']?>"/>
                <?= form_error('title')?>
            </td>
        </tr>
        <tr>
            <td>类型</td>
            <td><input type="radio" name="type" value="0" <?php echo set_radio('type','0',TRUE)?>/>普通
                <input type="radio" name="type" value="1" <?= set_radio('type','1')?>/>热门
            </td>
        </tr>
        <tr>

            <td>栏目名称</td>
            <td><input type="text" name="cname" value="<?= $cname['cname']?>"/>
                <?= form_error('cname')?>
            </td>
        </tr>
        <!--<tr>-->
        <!--<td>缩略图</td>-->
        <!--<td><input type="file"/>-->
        <!--</td>-->
        <!--</tr>-->
        <tr>
            <td>摘要</td>
            <td><textarea name="info" id="" style="width: 550px;height: 160px;">
                <?= $article['info']?></textarea>
                <?= form_error('info')?>
            </td>
        </tr>
        <tr>
            <td>内容</td>
            <td><textarea name="content" id="" style="width: 550px;height: 300px;">
                <?= $article['content']?></textarea>
                <?= form_error('content')?>
            </td>
        </tr>
        <tr>
            <td colspan="10"><input type="submit" class="input_button" value="提交修改"></td>

        </tr>

    </table>

</form>
</body>
</html>