<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理首页</title>
</head>

<body>
<li><a href="<?= site_url('admin/article/send_article')?>" >发表文章</a></li>
<li><a href="<?= site_url('admin/article/edit_article')?>" >编辑文章</a></li>
<li><a href="<?= site_url('admin/article/index')?>" >查看文章</a></li>
<li><a href="<?= site_url('admin/category/add_cate')?>" >添加栏目</a></li>
<li><a href="<?= site_url('admin/category/edit_cate')?>" >编辑栏目</a></li>
<li><a href="<?= site_url('admin/category/index')?>" >查看栏目</a></li>
</body>
</html>