<!DOCTYPE html>
<html>
<head>
    <title>ChinaZ</title>
    <link href="/static/login/css/login.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" .="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <!--<link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800" rel="stylesheet" type="text/css" />-->
    <!--//webfonts-->
</head>
<body>
<h1>黄晓露博客</h1>
<div class="app-location">
    <h2>Welcome to Locaticus</h2>
    <div class="line">
        <span></span>
    </div>
    <div class="location">
        <img src="/static/login/images/location.png" class="img-responsive" alt="" />
    </div>
    <form action="<?= site_url('admin/login/login_in')?>" method="post" id="login">
        <input name="username" type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'username';}" />
        <input name="passwd" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" />
        <input name="captcha" type="text" class="text" id="captcha" />
        <div class="captcha"><?= $captcha?></div>
        <div class="submit">
            <input type="submit" value="登录" />
        </div>
        <div class="clear"></div>
        <div class="new">
            <h3><a href="#">Forgot password ?</a></h3>
            <h4><a href="#">New here ? Sign Up</a></h4>
            <div class="clear"></div>
        </div>
    </form>
</div>
<!--start-copyright-->
<div class="copy-right">
    <p>Copyright &copy; 2017.huangxiaolu All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">网页模板</a></p>
</div>
<!--//end-copyright-->
</body>
</html>