<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>网站后台内容管理系统登录</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link href="<?=base_url().'style/css/base.css'?>" rel="stylesheet" type="text/css">
<link href="<?=base_url().'style/css/login.css'?>" rel="stylesheet" type="text/css">
</head>
<body>

<div class="login">
<form action="" method="post" id="form">
	<div class="logo"></div>
    <div class="login_form">
    	<div class="user">
        	<input class="text_value" value="" name="username" type="text" id="username">
            <input class="text_value" value="" name="password" type="password" id="password">
        </div>
        <button class="button" id="submit" type="submit">登录</button>
    </div>
    
    <div id="tip"></div>
    <div class="foot">
	Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
    </div>
    </form>
</div>
<div>
    <li><a href="http://ci.dev/admin/article/send_article" >发表文章</a></li>
    <li><a href="http://ci.dev/admin/article/edit_article" >编辑文章</a></li>
    <li><a href="http://ci.dev/admin/category/add_cate" >添加栏目</a></li>
    <li><a href="http://ci.dev/admin/category/edit_cate" >编辑栏目</a></li>
    <li><a href="http://ci.dev/admin/category/index" >查看栏目</a></li>
</div>
<script>var basedir='public/ui/';</script>
<script src="<?=base_url().'style/js/do.js'?>"></script>
<script src="<?=base_url().'style/js/config.js'?>"></script>
<script>
Do.ready('form', function() {
	$("#form").Validform({
			ajaxPost:true,
			postonce:true,
			tiptype:function(msg,o,cssctl){
				if(!o.obj.is("form")){
					var objtip=o.obj.siblings(".Validform_checktip");
					cssctl(objtip,o.type);
					objtip.text(msg);
				}else{
					var objtip=o.obj.find("#tip");
					cssctl(objtip,o.type);
					if(o.type==2){
						window.location.href='index.php?r=admin/index/index';
					}else{
						objtip.text(msg);
					}
				}
			}
	});
});

</script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>